                            
                            /***index.php****/
body{
	font-family: 'Montserrat';
}
h1, h2, h3{
	font-weight:  bold;
} 
.index #logo img, .logo {
	width: 10%;
}
.index{

	 background: 
         linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    url('photos/food-fruit-grapes-197907.jpg');
	height: 500px;

}
.index nav {
	display: flex;
	justify-content:flex-end ;
	margin: 0.5%;
	margin-top: -5%;
	}
.index nav a{
	padding: 1%;
}	
.index h1{
	color: white;
	margin: 5%;
}
.index #decouvrir{
	background-color: #f26079;
	margin: 5%;
	padding: 1%;
	border: 2px solid white;
  border-radius: 20px 20px;
}
.index a{
	color: white;
	margin-bottom: -5%;
}
#milkshakefraise{
    width: 15%;
    margin:-25px auto 0 -25px;
    position:absolute;
    top:15%;
    left:85%;
}
.col-md-6 img{
	width: 90%;
}
.col-md-6{
	padding: 2%;
}
 #smoothie{
 	width: 20%;
 	padding-top: 2%;
 	border: 2px  solid #62c97d ;
	position: absolute;
	top: 47%;
	left: 2%;
    }
 #smoothie{
 	font-family: 'Nixie One';
 }   
.welcome{
	margin-top: 1%;
} 
.Nos-smoothies{
	text-align: center;
}
img{
	width: 90%;
} 
.Nous-trouver{
	width: 100%;
 	padding:2%;
 	border: 2px  solid #62c97d ;
	position: relative;
	bottom:2%;
	left: 10%;
	z-index: 1;
} 
.Nous-trouver{
	font-family: 'Nixie One';
}
.contacter{
	text-align: center;
	line-height: 2em;
}
.les-recettes{
	color: #f26079;
	padding:1%;
	margin: 5%;
	border: 2px solid #f26079;
    border-radius: 20px 20px;
}
footer{
	text-align: center;
	background-color: #f26079;
	color: white;
	line-height: 3em;
	padding-bottom: 5%;
	margin-top: 4%;
}
footer img{
	width: 2%;
	color: white;
}
@media screen and (max-width: 1024px) and (min-width: 768px){
	iframe{
		width: 100%;
	}
	.photo{
		padding-top: 20%;
	}
	#smoothie{
 	width: 30%;
 	padding-top: 2%;
 	border: 2px  solid #62c97d ;
	position: absolute;
	top: 47%;
	left: 2%;
    }
    .index nav {
       	display: flex;
    	flex-direction: column;
    	text-align:center;
    	line-height:4em;
    }
    .index nav a{
    	display: block !important;
    }
}

/* Layout */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo img {
	width: 100%;
}
nav a {
	margin-left: 2%;
	display: block;
}
nav {
	width: 80%;
	display: flex;
	justify-content: end;
}